<!doctype html>
<html>
<head>
    {% block head %}
    <title>Lime</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" media="screen, projection" href="{{ url_for('static', filename='style.css') }}" />
    {% endblock %}
    <meta charset="utf-8" />
    <script type="text/javascript">
        function API_endpoint(endpoint, params) {
            var paramsArr = [];
            for (var key in params) {
                paramsArr.push(key + "=" + params[key]);
            }

            return endpoint + "?" + paramsArr.join("&");
        }

        function XHR(url, onload) {
            oReq = new XMLHttpRequest();
            oReq.addEventListener("load", onload);
            oReq.open("GET", url);
            oReq.send();
        }
    </script>
</head>
<body>
    {% macro menu_item(endpoint, display) %}
        {% if request.endpoint != endpoint %}
            <a href="{{ url_for(endpoint) }}">{{ display }}</a>
        {% else %}
            {{ display }}
        {% endif %}
    {% endmacro %}

    {% block nav %}
    {% if hide_nav: %}
    <!-- nav removed -->
    {% else %}
    <nav>
    <ul>
        <li>{{ menu_item('main.index', 'home') }}</li>
        <li>{{ menu_item('main.show_stats', 'stats') }}</li>
        <li>{{ menu_item('main.export_csv', 'export as CSV') }}</li>
    </ul>
    </nav>
    {% endif %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% if hide_footer: %}
    <!-- footer removed -->
    {% else %}
    <footer>
    <ul>
        <li>{{ menu_item('main.index', 'home') }}</li>
        <li>{{ menu_item('main.import_from_csv', 'import') }}</li>
        <li>{{ menu_item('main.clear_db', 'clear all rows') }}</li>
    </ul>
    </footer>
    {% endif %}
    {% endblock %}

</body>
</html>
